<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>待评价</title>
     <link rel="icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="css/webbase.css" />
    <link rel="stylesheet" type="text/css" href="css/pages-seckillOrder.css" />
</head>

<body>
    
	<!--页面顶部白条条，由js动态加载-->
	<script type="text/javascript" src="plugins/jquery/jquery.min.js"></script>
	<div class="nav-bottom"></div>
    <script type="text/javascript">$(".nav-bottom").load("top.html");</script>

<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#service").hover(function(){
		$(".service").show();
	},function(){
		$(".service").hide();
	});
	$("#shopcar").hover(function(){
		$("#shopcarlist").show();
	},function(){
		$("#shopcarlist").hide();
	});

})
</script>
<script type="text/javascript" src="js/plugins/jquery.easing/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/plugins/sui/sui.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery-placeholder/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="js/widget/nav.js"></script>
</body>
    <!--header-->
    <div id="account">
        <div class="py-container">
            <div class="yui3-g home">
                <!--左侧列表-->
                <div class="yui3-u-1-6 list">

                    <div class="person-info">
                        <div class="person-photo"><img src="img/_/photo.png" alt=""></div>
                        <div class="person-account">
                            <span class="name">{{user.username}}</span>
                            <span class="safe">账户安全</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                     <div class="list-items">
                        <dl>
							<dt><i>·</i> 订单中心</dt>
							<dd ><a href="home-index.html"  >我的订单</a></dd>
							<dd><a href="home-order-pay.html" >待付款</a></dd>
							<dd><a href="home-order-send.html"  >待发货</a></dd>
							<dd><a href="home-order-receive.html" >待收货</a></dd>
							<dd><a href="home-order-evaluate.html"  class="list-active">待评价</a></dd>
						</dl>
					<!--	<dl>
							<dt><i>·</i> 我的中心</dt>
							<dd><a href="home-person-collect.html">我的收藏</a></dd>
							<dd><a href="home-person-footmark.html">我的足迹</a></dd>
						</dl>
						<dl>
							<dt><i>·</i> 物流消息</dt>
						</dl>
						<dl>
							<dt><i>·</i> 设置</dt>
							<dd><a href="home-setting-info.html">个人信息</a></dd>
							<dd><a href="home-setting-address.html"  >地址管理</a></dd>
							<dd><a href="home-setting-safe.html" >安全管理</a></dd>
						</dl>-->
                    </div>
                </div>
                <!--右侧主内容-->
                <div class="yui3-u-5-6 order-pay">
                    <div class="body">
                        <div class="table-title">
                            <table class="sui-table  order-table">
                                <tr>
                                    <thead>
                                        <th width="35%">宝贝</th>
                                        <th width="5%">单价</th>
                                        <th width="5%">数量</th>
                                        <th width="8%">商品操作</th>
                                        <th width="10%">实付款</th>
                                        <th width="10%">交易状态</th>
                                        <th width="10%">交易操作</th>
                                    </thead>
                                </tr>
                            </table>
                        </div>
                        <div class="order-detail">
                            <div class="orders">
                                <div class="choose-order">
                                    <!--   <div class="sui-pagination pagination-large top-pages">
                                           <ul>
                                               <li class="prev disabled"><a href="#">上一页</a></li>

                                               <li class="next"><a href="#">下一页</a></li>
                                           </ul>
                                       </div>-->
                                </div>
                                <div v-for="(order,index) in orders">
                                    <div class="choose-title" >
                                        <label data-toggle="checkbox" class="checkbox-pretty ">
                                            <input type="checkbox" checked="checked"><span>{{e2b.formatDate(order.createTime)}}　订单编号：{{order.orderId}} 店铺：E2Buy自营 <!--<a>和我联系</a>--></span>
                                        </label>
                                        <!--<a class="sui-btn btn-info share-btn">分享</a-->>
                                    </div>
                                    <table class="sui-table table-bordered order-datatable">
                                        <tbody>
                                        <tr >
                                            <td width="35%" >
                                                <div class="typographic"  :key="index">
                                                    <div v-for="orderdetail in order.orderDetails">
                                                        <img :src="orderdetail.image" style="width: 15%; min-width: 15%;"  />
                                                        <a href="#" class="block-text">{{orderdetail.title}}</a>
                                                        <span class="guige">规格:{{orderdetail.ownSpec}}</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td width="5%" class="center">
                                                <ul class="unstyled">
                                                    <li class="o-price"></li>
                                                    <li>{{e2b.formatPrice(order.actualPay)}}</li>
                                                </ul>
                                            </td>
                                            <td width="5%" class="center">1</td>
                                            <td width="8%" class="center">
                                                <ul class="unstyled">
                                                    <li>已发货</li>
                                                    <li><a>退货/退款</a></li>
                                                </ul>
                                            </td>
                                            <td width="10%" class="center" >
                                                <ul class="unstyled">
                                                    <li>{{e2b.formatPrice(order.actualPay)}}</li>
                                                    <li>（含运费：￥0.00）</li>
                                                </ul>
                                            </td>
                                            <td width="10%" class="center" rowspan="2">
                                                <ul class="unstyled">
                                                    <li>{{e2b.formatPrice(order.actualPay)}}</li>
                                                    <li>（含运费：￥0.00）</li>
                                                </ul>
                                            </td>
                                            <td width="10%" class="center" rowspan="2">
                                                <ul class="unstyled">
                                                    <li>部分发货</li>
                                                    <li><a href="home-orderDetail.html" class="btn">订单详情 </a></li>
                                                </ul>
                                            </td>
                                              <td width="10%" class="center" rowspan="2">
                                                  <ul class="unstyled">
                                                  <!--    <li>还剩4天23时</li>-->
                                                      <li>
                                                          <!--<a href="#" class="sui-btn btn-info" @click="showEvaluate()">评价</a>-->
                                                          <a data-toggle="modal" data-target=".edit" data-keyboard="false" class="sui-btn btn-info" @click="toEvaluate(order.orderId)">评价</a></span></h5>
                                                      </li>
                                                  </ul>
                                              </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!--写评论-->
                            <div  tabindex="-1" role="dialog" data-hasfoot="false" class="sui-modal hide fade edit" style="width: 600px;height: 400px">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" data-dismiss="modal" aria-hidden="true" class="sui-close">×</button>
                                            <h4 id="myModalLabel" class="modal-title">写评论</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form action="" class="sui-form form-horizontal">
                                                <div class="control-group">
                                                    <label class="control-label">订单号：</label>
                                                    <div class="controls">
                                                        <input type="text" class="input-medium" readonly style="width: 400px;" v-bind:value="this.evaluate.orderId">
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">评价：</label>
                                                    <div class="controls">
                                                       <textarea name="description" style="height: 200px;width: 400px" placeholder="输入评价信息" v-model="evaluate.message" ></textarea>
                                                        <!--<input type="text" class="input-medium" style="height: 200px;width: 400px;" v-bind:value="this.evaluate.message">-->
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" data-ok="modal" class="sui-btn btn-primary btn-large" @click="submitEvaluate()">确定</button>
                                            <button type="button" data-dismiss="modal" class="sui-btn btn-default btn-large">取消</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="./js/vue/vue.js"></script>
<script src="./js/axios.min.js"></script>
<script src="./js/common.js"></script>
<script src="./js/plugins/jquery/jquery.cookie.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el: "#account",
        data: {
            e2b,
            e2buy,
            user: {},
            orders:[],
            query:{
                status:4,
                page:1,
                rows:100
            },
            evaluate:{
                orderId:0,
                message:""
            }
        },
        components:{
            lyTop:() => import('./js/pages/top.js')
        },
        created() {
            // 验证登录，查询用户信息
            e2buy.verify().then(resp => {
                this.user = resp.data;
                // 查询订单信息
                this.loadOrder();
            })
                .catch(() => {
                    // 去登录
                    this.gotoLogin();
                });
        },
        methods: {
            logout() {
                // 删除cookie中的token即可
                Cookies.remove("E2BUY_TOKEN",{
                    path:"/",
                    domain:"e2buy.com"
                });
                window.location = 'http://www.e2buy.com'
            },
            gotoLogin() {
                window.location = "login.html?returnUrl=" + window.location;
            },
            loadOrder(){
                // 查询订单信息
                e2buy.http.get("/order/list?"+ e2buy.stringify(this.query))
                    .then(({data:{items,total}}) => {
                        // console.log(data.items); //这条语句会报错
                        this.orders = items;
                    }).catch(() => {
                        this.orders = [];
                    }
                )
            },
            formatDate:e2buy.formatDate,
            formatPrice: e2buy.formatPrice,
            getTotalPrice(order){
                return order.orderDetails.map(d => d.num * d.price).reduce((v1,v2) => v1 + v2, 0);
            },
            toEvaluate(orderId){
                this.evaluate.orderId=orderId;
            },
            submitEvaluate(){
                // 查询订单信息
                e2buy.http.post("/order/evaluate/create",this.evaluate,{
                    transformResponse: [
                        function(data){
                            return data;
                        }
                    ]
                }).then(() => {
                    alert("评论成功");
                    this.loadOrder();
                }).catch(() => {
                    alert("评论失败");
                    }
                )
            }
        },
        watch:{
            'query':{
                deep:true,
                handler(){
                    this.loadOrder();
                }
            }
        }
    });
</script>
	<!-- 底部栏位 -->
	<!--页面底部，由js动态加载-->
	<div class="clearfix footer"></div>
	<script type="text/javascript">$(".footer").load("foot.html");</script>
	<!--页面底部END-->

</html>